<!-- ================= Start Blog Area ================= -->
<section id="blog-area">
    <div class="container section-padding">
        {{!--
        <div class="row">
            <div class="col-md-12">
                <!-- Single Title -->
                <div class="section_title_black text-center margin-bottom-60">
                    <h2>Blog &amp; News</h2>
                    <p>It’s quality and modern PSD template. It is an elegant solution for corporate business, portfolio sites.</p>
                </div>
            </div>
        </div> --}}
        <div class="row">
          {{#foreach posts limit="3"}}
            <!-- Single Blog Area Start -->
            <div class="col-sm-4">
                <div class="single-blog text-center {{post_class}}">
                    <!-- Single Blog Image -->
                    <img src="{{image}}" alt="{{title}}">
                    <div class="blog-status-bar" style="margin-left: calc(50% - 87px);">
                        {{!-- <span><i class="fa fa-heart"></i> 24</span> --}}
                        <span><i class="fa fa-calendar"></i>{{date published_at format="MMMM DD, YYYY"}}</span>
                        {{!-- <span><i class="fa fa-comments"></i> 19</span> --}}
                    </div>
                    <!-- Single Blog Title -->
                    <div class="blog-title">
                        <h3><a href="{{url}}">{{title}}</a></h3>
                        <p><i class="fa fa-user"></i>{{author}}</p>
                        <p><i class="fa fa-tags"></i>{{tags}}</p>
                    </div>
                    <!-- Single Blog Details -->
                    <div class="blog-details">
                        <p>{{excerpt words="26"}}</p>
                    </div>
                    <div class="blog_button">
                        <a href="{{url}}">Read More</a>
                    </div>
                </div>
            </div>
            <!-- Single Blog Area End -->
            {{/foreach}}
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</section>
<!-- ================= End Blog Area ================= -->
