<!-- ================= Start Recent Work Area ================= -->
<section id="portfolio-area" class="section-padding no-bottom-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Section Title -->
                <div class="section_title_black text-center">
                    <h2>Recent Works</h2>
                    <p>It’s quality and modern HTML template. It is an elegant solution for corporate business, portfolio sites.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid no-padding text-center">
        <!-- Portfolio Filter Start -->
        <div class="portfolio-filter">
            <ul>
                <li class="filter" data-filter="all">All</li>
                <li class="filter" data-filter=".webdesign">Web Design</li>
                <li class="filter" data-filter=".applications">Applications</li>
                <li class="filter" data-filter=".logodesign">Logo Design</li>
                <li class="filter" data-filter=".photography">Photography</li>
            </ul>
        </div>
        <!-- Portfolio Filter End -->

        <div id="content">
            <!-- Single Portfolio Item Start -->
            <div class="col-md-3 col-sm-3 col-xs-12 no-padding mix photography webdesign">
                <div class="portfolio-item">
                    <figure>
                        <img src="{{asset "images/work-images/works-1.jpg"}}" alt="Portfolio Image" />
                        <figcaption class="portfolio-overlay">
                            <div class="portfolio-caption">
                                <a><i class="fa fa-link"></i></a>
                                <a class="lightbox" data-gall="gall-work" href="{{asset "/theme_images/work-images/works-1.jpg"}}"><i class="fa fa-search-plus"></i></a>
                                <a><i class="fa fa-heart"></i></a>
                                <h6>AsceticDesigner’s Application</h6>
                                <p>Apps Design</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Single Portfolio Item End -->

            <!-- Single Portfolio Item Start -->
            <div class="col-md-3 col-sm-3 col-xs-12 no-padding mix logodesign applications">
                <div class="portfolio-item">
                    <figure>
                        <img src="{{asset "/theme_images/work-images/works-2.jpg"}}" alt="Portfolio Image" />
                        <figcaption class="portfolio-overlay">
                            <div class="portfolio-caption">
                                <a><i class="fa fa-link"></i></a>
                                <a class="lightbox" data-gall="gall-work" href="{{asset "/theme_images/work-images/works-2.jpg"}}"><i class="fa fa-search-plus"></i></a>
                                <a><i class="fa fa-heart"></i></a>
                                <h6>AsceticDesigner’s Application</h6>
                                <p>Apps Design</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Single Portfolio Item End -->

            <!-- Single Portfolio Item Start -->
            <div class="col-md-3 col-sm-3 col-xs-12 no-padding mix photography logodesign webdesign">
                <div class="portfolio-item">
                    <figure>
                        <img src="{{asset "/theme_images/work-images/works-3.jpg"}}" alt="Portfolio Image" />
                        <figcaption class="portfolio-overlay">
                            <div class="portfolio-caption">
                                <a><i class="fa fa-link"></i></a>
                                <a class="lightbox" data-gall="gall-work" href="{{asset "/theme_images/work-images/works-3.jpg"}}"><i class="fa fa-search-plus"></i></a>
                                <a><i class="fa fa-heart"></i></a>
                                <h6>AsceticDesigner’s Application</h6>
                                <p>Apps Design</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Single Portfolio Item End -->

            <!-- Single Portfolio Item Start -->
            <div class="col-md-3 col-sm-3 col-xs-12 no-padding mix applications">
                <div class="portfolio-item">
                    <figure>
                        <img src="{{asset "/theme_images/work-images/works-4.jpg"}}" alt="Portfolio Image" />
                        <figcaption class="portfolio-overlay">
                            <div class="portfolio-caption">
                                <a><i class="fa fa-link"></i></a>
                                <a class="lightbox" data-gall="gall-work" href="{{asset "/theme_images/work-images/works-4.jpg"}}"><i class="fa fa-search-plus"></i></a>
                                <a><i class="fa fa-heart"></i></a>
                                <h6>AsceticDesigner’s Application</h6>
                                <p>Apps Design</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Single Portfolio Item End -->

            <!-- Single Portfolio Item Start -->
            <div class="col-md-3 col-sm-3 col-xs-12 no-padding mix webdesign logodesign">
                <div class="portfolio-item">
                    <figure>
                        <img src="{{asset "/theme_images/work-images/works-5.jpg"}}" alt="Portfolio Image" />
                        <figcaption class="portfolio-overlay">
                            <div class="portfolio-caption">
                                <a><i class="fa fa-link"></i></a>
                                <a class="lightbox" data-gall="gall-work" href="{{asset "/theme_images/work-images/works-5.jpg"}}"><i class="fa fa-search-plus"></i></a>
                                <a><i class="fa fa-heart"></i></a>
                                <h6>AsceticDesigner’s Application</h6>
                                <p>Apps Design</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Single Portfolio Item End -->

            <!-- Single Portfolio Item Start -->
            <div class="col-md-3 col-sm-3 col-xs-12 no-padding mix applications photography">
                <div class="portfolio-item">
                    <figure>
                        <img src="{{asset "/theme_images/work-images/works-6.jpg"}}" alt="Portfolio Image" />
                        <figcaption class="portfolio-overlay">
                            <div class="portfolio-caption">
                                <a><i class="fa fa-link"></i></a>
                                <a class="lightbox" data-gall="gall-work" href="{{asset "/theme_images/work-images/works-6.jpg"}}"><i class="fa fa-search-plus"></i></a>
                                <a><i class="fa fa-heart"></i></a>
                                <h6>AsceticDesigner’s Application</h6>
                                <p>Apps Design</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Single Portfolio Item End -->

            <!-- Single Portfolio Item Start -->
            <div class="col-md-3 col-sm-3 col-xs-12 no-padding mix webdesign logodesign">
                <div class="portfolio-item">
                    <figure>
                        <img src="{{asset "/theme_images/work-images/works-7.jpg"}}" alt="Portfolio Image" />
                        <figcaption class="portfolio-overlay">
                            <div class="portfolio-caption">
                                <a><i class="fa fa-link"></i></a>
                                <a class="lightbox" data-gall="gall-work" href="{{asset "/theme_images/work-images/works-7.jpg"}}"><i class="fa fa-search-plus"></i></a>
                                <a><i class="fa fa-heart"></i></a>
                                <h6>AsceticDesigner’s Application</h6>
                                <p>Apps Design</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Single Portfolio Item End -->

            <!-- Single Portfolio Item Start -->
            <div class="col-md-3 col-sm-3 col-xs-12 no-padding mix applications photography">
                <div class="portfolio-item">
                    <figure>
                        <img src="{{asset "/theme_images/work-images/works-8.jpg"}}" alt="Portfolio Image" />
                        <figcaption class="portfolio-overlay">
                            <div class="portfolio-caption">
                                <a><i class="fa fa-link"></i></a>
                                <a class="lightbox" data-gall="gall-work" href="{{asset "/theme_images/work-images/works-8.jpg"}}"><i class="fa fa-search-plus"></i></a>
                                <a><i class="fa fa-heart"></i></a>
                                <h6>AsceticDesigner’s Application</h6>
                                <p>Apps Design</p>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- Single Portfolio Item End -->
        </div>
    </div>
</section>
<!-- ================= End Recent Work Area ================= -->
